* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background: #262626;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.header {
  background-color: #000;
  position: absolute;
  top: 0;
}

.header-logo {
  float: left;
  width: 20%;
}

.background-container {
  width: 100%;
  height: 100vh;
}

.image {
  background-size: container;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.left,
.right {
  float: left;
  width: 50%;
}

.villager-background {
  opacity: 50%;
  height: 100vh;
  width: 35rem;
}

.werewolf-background {
  height: 100vh;
  width: 35rem;
}

.title-container {
  position: absolute;
  margin: auto;
  top: 50vh;
  right: 0;
  bottom: 50vh;
  left: 0;
  padding-top: 12%;
}

.title {
  top: 20vh;
  font-size: 2.5rem;
  color: #bcbcbc;
  top: 2%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#username-field {
  text-align: center;
  background: transparent;
  font-size: 1.25rem;
  border: none;
  outline: none;
  height: 30px;
  transition: height 1s;
  -webkit-transition: height 1s;
}

#username-field::placeholder {
  color: #bcbcbc;
  /* background-color: #262626; */
}

#username-field:hover {
  height: 50px;
  border-bottom: 1px solid #bcbcbc;
}

.App-link {
  color: #61dafb;
}

.username-label {
  color: #bcbcbc;
}

.username-btn {
  width: 5rem;
  margin-top: 1%;
  font-size: 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
