/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 65%;
  position: absolute;
  top: 6rem;
  left: 30rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  box-shadow: -6px 5px #000;
}

.grid-item {
  border: 1px solid #bcbcbc;
  border-width: thin;
}

.player-container {
  position: absolute;
  display: inline-block;
  top: 25rem;
  left: 20rem;
  width: 30%;
}

.current-player {
  /* left: 40%; */
  padding: 25px;
}

.player-name {
  display: inline-block;
  /* float: left; */
  color: #bcbcbc;
  left: 50%;
}

.player-img {
  width: 4.5rem;
  height: 6rem;
  /* Used only for placeholders */
  opacity: 2%;
}

.current-player-img {
  width: 10rem;
  height: 10rem;
  border: 1px solid #bcbcbc;
  border-width: thin;
  /* Used only for placeholders */
  opacity: 40%;
}

.chat-container {
  position: absolute;
  top: 10rem;
  right: 2rem;
}

.chat-display {
  height: 20rem;
  background-color: #fff;
  width: 17rem;
  border: 1px solid #282c34;
}

#chat-field {
  width: 17rem;
  font-size: 1.2rem;
  color: #bcbcbc;
}

#chat-field:focus {
  color: #bcbcbc;
}

/* Responsive Mobile (One Column) Media Queries */
@media screen and (max-width: 600px) {
  .player-img {
    width: 3rem;
    height: 4rem;
  }

  .grid-container {
    left: 50%;
  }
}